<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (!tieneCategorias) {

    <div class="estado-vacio">

      <h2>Aún no has creado categorías.</h2>

      <p>
        Crea categorías para organizar mejor tus tareas.
      </p>

      <div class="contenedor-boton">

        <ion-button 
          (click)="abrirModal()">
          Abrir modal
        </ion-button>

      </div>

    </div>

  }
  @else {

    <ion-list>

      @for (categoria of categorias; track categoria.id; let i = $index) {

        <ion-item>

          <ion-label>

            <h2>{{ categoria.nombre }}</h2>

          </ion-label>

          <ion-button
            slot="end"
            fill="clear"
            (click)="editarCategoria(i)">

            <ion-icon name="create-outline"></ion-icon>

          </ion-button>

          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            (click)="eliminarCategoria(i)">

            <ion-icon name="trash-outline"></ion-icon>

          </ion-button>

        </ion-item>

      }

    </ion-list>

    <div class="contenedor-boton">

      <ion-button 
        class="boton-crear"
        (click)="abrirModal()">

        Nueva categoría

      </ion-button>

    </div>

  }

</ion-content>

<ion-modal
  class="modal-categoria"
  [isOpen]="modalAbierto"
  (didDismiss)="cerrarModal($event)">
  <ng-template>
    <app-categoria-modal
      [nombre]="indiceEditar >= 0 ? categorias[indiceEditar].nombre : ''"
      [titulo]="indiceEditar >= 0 ? 'Editar categoría' : 'Nueva categoría'">
    </app-categoria-modal>
  </ng-template>
</ion-modal>
