<ion-header>

  <ion-toolbar>

    <ion-title>Tareas</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div class="contenedor-pantalla">

    <div class="contenedor-filtros">

      <div class="grupo-filtro">

        <ion-label class="titulo-filtro">
        Categoría
      </ion-label>

      <ion-item>

        <ion-select
          [(ngModel)]="categoriaFiltro">

          <ion-select-option value="">
            Todas
          </ion-select-option>

          @for (categoria of categoriaService.categorias; track categoria.id) {

            <ion-select-option
              [value]="categoria.nombre">

              {{ categoria.nombre }}

            </ion-select-option>

          }

        </ion-select>

      </ion-item>

    </div>

    <div class="grupo-filtro">

      <ion-label class="titulo-filtro">
        Estado
      </ion-label>

      <ion-item>

        <ion-select
          [(ngModel)]="estadoFiltro">

          <ion-select-option value="Pendientes">
            Pendientes
          </ion-select-option>

          <ion-select-option value="Terminadas">
            Terminadas
          </ion-select-option>

          <ion-select-option value="Todas">
            Todas
          </ion-select-option>

        </ion-select>

      </ion-item>

    </div>

    </div>

    @if (tareaService.tareas.length === 0) {

      <div class="estado-vacio">

        <h2>No hay tareas registradas</h2>

        <p>
          Crea tu primera tarea para comenzar.
        </p>

        <div class="contenedor-boton">

          <ion-button
            class="boton-crear"
            (click)="abrirModal()">

            Nueva tarea

          </ion-button>

        </div>

      </div>

    } @else {

      @for (tarea of tareasFiltradas; track tarea.id; let i = $index) {

        <div class="tarjeta-tarea">

          <div class="fila-superior">

            <ion-checkbox
              [checked]="tarea.seleccionada"
              (ionChange)="completarTarea(i)">
            </ion-checkbox>

            <span
              class="nombre-tarea"
              [class.completada]="tarea.seleccionada">

              {{ tarea.nombre }}

            </span>

            @if (featureFlagService.mostrarPrioridad) {

              @if (tarea.prioridad === 'Alta') {

                <span class="prioridad alta"></span>

              } @else if (tarea.prioridad === 'Media') {

                <span class="prioridad media"></span>

              } @else {

                <span class="prioridad baja"></span>

              }

            }

          </div>

          <div class="fila-inferior">

            <span class="categoria">

              @if (tarea.categoria) {

                {{ tarea.categoria }}

              } @else {

                Sin categoría

              }

            </span>

            <div class="acciones">

              <ion-icon
                class="icono-editar"
                name="create-outline"
                (click)="editarTarea(i)">
              </ion-icon>

              <ion-icon
                class="icono-eliminar"
                name="trash-outline"
                (click)="eliminarTarea(i)">
              </ion-icon>

            </div>

          </div>

        </div>

      }

      @if (cambiosPendientes) {

        <div class="contenedor-boton">

          <ion-button
            color="success"
            (click)="guardarCambios()">

            Guardar cambios

          </ion-button>

        </div>

      }

      <div class="contenedor-boton">

          <ion-button
            class="boton-crear"
            (click)="abrirModal()">

            Nueva tarea
            
          </ion-button>

        </div>

    }

  </div>

</ion-content>

<ion-modal
  class="modal-tarea"
  [isOpen]="modalAbierto"
  (didDismiss)="cerrarModal($event)">

  <ng-template>

    <app-tarea-modal
      [categorias]="categoriaService.categorias"
      [titulo]="indiceEditar >= 0 ? 'Editar tarea' : 'Nueva tarea'"
      [nombre]="indiceEditar >= 0 ? tareaService.tareas[indiceEditar].nombre : ''"
      [categoria]="indiceEditar >= 0 ? tareaService.tareas[indiceEditar].categoria : ''"
      [prioridad]="indiceEditar >= 0 ? tareaService.tareas[indiceEditar].prioridad : 'Media'">
    </app-tarea-modal>

  </ng-template>

</ion-modal>