<ion-content class="ion-padding">

  <h2>{{titulo}}</h2>

  <ion-item>

    <ion-input
      [(ngModel)]="nombre"
      label="Nombre"
      labelPlacement="stacked"
      placeholder="Ingrese el nombre">

    </ion-input>

  </ion-item>

  <ion-item>

    <ion-select
      [(ngModel)]="categoria"
      label="Categoría"
      labelPlacement="stacked">

      <ion-select-option value="">
        Sin categoría
      </ion-select-option>

      @for (categoria of categorias; track categoria.id) {

        <ion-select-option
          [value]="categoria.nombre">

          {{ categoria.nombre }}

        </ion-select-option>

      }

    </ion-select>

  </ion-item>

  <ion-item>

    <ion-select
      [(ngModel)]="prioridad"
      label="Prioridad"
      labelPlacement="stacked">

      <ion-select-option value="Alta">
        Alta
      </ion-select-option>

      <ion-select-option value="Media">
        Media
      </ion-select-option>

      <ion-select-option value="Baja">
        Baja
      </ion-select-option>

    </ion-select>

  </ion-item>

  <div class="contenedor-botones">

    <ion-button
      fill="outline"
      (click)="cancelar()">

      Cancelar

    </ion-button>

    <ion-button
      (click)="guardar()">

      Guardar

    </ion-button>

  </div>

</ion-content>
